.container {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 12px;
}
.input__container {
  width: 370px;
}
.string {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.stringCircle__container {
  display: flex;
  column-gap: 16px;
}
.stringCircle__container {
  margin-top: 50px;
}